:root {
    --cpink: #F28B82;
--worange: #F6A74C;
--black: #2E2E2E;
--cream: #FFF4E6;
--teal: #4C9E9E;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}

#logo img {
  height: 80px;  max-width: 100%;
}

a { text-decoration: none; 
} 

a:link {
  color: var(--black);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--black);
  background-color: transparent;
  text-decoration: none;
}

#mobileMenu, #hamburger {
    display: none;
}

#desktopMenu {
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
    display: flex; 
    position: fixed;
    justify-content: center; 
    gap: 1rem;  
    padding: 20px; 
    width: fit-content; 
    left: 25%; 
    top:0; 
    font-family: "Libre Baskerville"; 
    z-index: 1000;
}

#header {
    background-color: var(--cream)
}

body {
    max-width: 1920px;
}
.menuItem {
    margin: 0;
}

.section {
    width: 100%;
    position: relative;
    font-family: "Libre Baskerville";
    height: 60vh;
} 

#hero {
    background-color: var(--cream);
}

#mission {
    background-color: white;
}

#skills {
    background-color: var(--teal);
}
#experience {
    background-color: white;
}
#contact{
    background-color: var(--worange);
}

#button {
    position: absolute; top: 5vh;
}

@media (max-width: 599px) {
    #desktopMenu {
        display: none;
    }

    #logo {
       display: none;
    }

    #hamburger {
        border: 1px solid white;
        height: 3rem;
        width: 3rem;
        margin: 1rem auto;
        padding: 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .hamline {
        width: 80%;
        height: 1px;
        padding: 0;
        margin: 3px 0 3px 0;
        background-color: white;
    }

    #mobileMenu {
        display: flex;
        justify-content: space-around;
        position: relative;
        color: var(--teal);
        background-color: var(--teal);
        z-index: 10;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .200s ease-in-out;
        text-align: center;
    }
   
    .menuItem {
        color: var(--cream);
        font-size: 1.5rem;
        display: block;    
        width: fit-content;
        margin: 2rem auto;
    }

    .menuItem:last-child {
        margin-bottom: 2rem;
    }

    body {
        max-width: 1920px;
    }
}
